controlnet_finetune/src/
controlnet_finetune/detector.tflite
controlnet_finetune/training/self_portrait/corrupted_images
controlnet_finetune/training/self_portrait/cropped_images
controlnet_finetune/training/self_portrait/groundtruth_images
controlnet_finetune/training/self_portrait/matte_images
controlnet_finetune/training/self_portrait/raw_images
controlnet_finetune/training/self_portrait/source
controlnet_finetune/training/self_portrait/target
controlnet_finetune/training/self_portrait/white_margin_images